body{
    margin:0;
    padding:0;
}
.container {
    margin: 0 auto;
    width:375px;
   max-height: 820px;
    background:url(../images/cont_bg2.gif) no-repeat;
    background-size:375px 820px;
}
.head_index {
    width:100%
    max-width:375px;
    height:216px;
    display: block;
    background:url(../images/cake_index.png) no-repeat;
    margin:0 auto;
    background-size:contain;
}
.content .cake_group,.content .cake_group .index a,.content .cake_group .cake_fan a,.content .cake_group .cake_biscuit1 a,
.content .cake_group .cake_middle a,.content .cake_group  .cake_toast  a {
    position:relative;
}
.content .cake_group .coffee a,.content .cake_group .cake_chocolate a,.content .cake_group .cake_small a,
.content .cake_group .cake_animal a,.content .cake_group .cake_biscuit2 a,.content .cake_group .cake_cream a,
.content .cake_group .cake_chick a,.content .cake_group .cake_biscuit3 a,.content .cake_group .cake_biscuit3 a,
.content .cake_group .sugar a,.content .cake_group .cake_biscuit4 a,.content .cake_group .cake_toast2 a,
.content .cake_group .popcorn a,.content .cake_group .drink a{
    position:absolute;
}
.content .cake_group  a{
    display: block;
    background:url(../images/cake_info.png) no-repeat;
}
.content .cake_group .index a{
    top:-30px;
    left:2px;
    height:70px;
    width:92px;
    background-position: 0px -864px;
    background-size:234px auto;

}
.content .cake_group .coffee a{
    top:-28px;
    left:92px;
    height:70px;
    width:92px;
    background-position: -90px -792px;
    background-size:237px auto;

}
.content .cake_group .cake_chocolate a{
    top:-30px;
    left:185px;
    height:150px;
    width:187px;
    background-position: 0 -345px;
    background-size:240px auto;
}

.content .cake_group .cake_fan a {
    top:-28px;
    height:169px;
    width:184px;
    background-position: 1px -181px;
    background-size:243px auto;

}

.content .cake_group .cake_small a{
    top:127px;
    left:191px;
    height:78px;
    width:84px;
    background-position: -2px -807px;
    background-size:240px auto;

}

.content .cake_group .cake_animal a{
    top:129px;
    left:282px;
    height:82px;
    width:90px;
    background-position: -97px -715px;
    background-size:240px auto;

}
.content .cake_group .cake_biscuit1 a {
    top:-28px;
    height:88px;
    width:184px;
    background-position: 0 -639px;
    background-size:247px auto;

}
.content .cake_group .cake_biscuit2 a{
    top:213px;
    left:188px;
    height:86px;
    width:88px;
    background-position: -137px -507px;
    background-size:243px auto;

}

.content .cake_group .cake_cream a{
    top:214px;
    left:282px;
    height:86px;
    width:88px;
    background-position: -4px -715px;
    background-size:240px auto;

}
.content .cake_group .cake_middle a {
    top:-22px;
    height:115px;
    width:131px;
    background-position: 0 -524px;
    background-size:247px auto;

}

.content .cake_group .cake_chick a{
    top:305px;
    left:139px;
    height:170px;
    width:231px;
    background-position: -8px -4px;
    background-size:243px auto;

}
.content .cake_group  .cake_toast  a{
    top:-15px;
    height:174px;
    width:131px;
    display: block;
    background:url(../images/left_bottomCake.png) no-repeat;
    background-size:100%  100%;

}

.content .cake_group .cake_biscuit3 a{
    top:481px;
    left:138px;
    height:58px;
    width:54px;
    display: block;
    background-size:243px auto;

}
.content .cake_group .cake_biscuit3 a{
    top:481px;
    left:138px;
    height:56px;
    width:54px;
    background-position: -97px -900px;
    background-size:243px auto;

}

.content .cake_group .cake_biscuit4 a{
     top:481px;
     left:196px;
     height:58px;
     width:57px;
     background-position: -157px -900px;
     background-size:243px auto;

 }
.content .cake_group .sugar a{
    top:481px;
    left:253px;
    height:58px;
    width:116px;
    background-position: 0 -974px;
    background-size:243px auto;

}
.content .cake_group .cake_toast2 a{
    top:543px;
    left:138px;
    height:57px;
    width:54px;
    background-position: -64px -1038px;
    background-size:243px auto;

}

.content .cake_group .popcorn a{
    top:542px;
    left:198px;
    height:58px;
    width:56px;
    background-position: -7px -1038px;
    background-size:243px auto;

}
.content .cake_group .drink a{
    top:542px;
    left:256px;
    height:58px;
    width:114px;
    background-position: -124px  -974px;
    background-size:243px auto;

}

