
.earPart .leftEar{
    -webkit-animation:leftEar 4s ease-in infinite ;/*chrome safari*/
    -moz-animation: leftEar 4s ease-in infinite ;/*firefox*/
    -o-animation: leftEar 4s ease-in infinite ;/*opera*/
    animation:leftEar 4s ease-in infinite  ;
}

.earPart .rightEar{
    -webkit-animation:rightEar 4s ease-in infinite ;/*chrome safari*/
    -moz-animation: rightEar 4s ease-in infinite ;/*firefox*/
    -o-animation: rightEar 4s ease-in infinite ;/*opera*/
    animation:rightEar 4s ease-in infinite;
}

.eyesPart .leftEye, .eyesPart .rightEye{
    -webkit-animation:eyes 4s ease-in infinite ;/*chrome safari*/
    -moz-animation: eyes 4s ease-in infinite;/*firefox*/
    -o-animation: eyes 4s ease-in infinite;/*opera*/
    animation:eyes 4s ease-in infinite ;
}
.bodyPart .tail{
    -webkit-animation:tail 4s ease-in-out infinite ;/*chrome safari*/
    -moz-animation: tail 4s ease-in-out infinite;/*firefox*/
    -o-animation: tail 4s ease-in-out infinite;/*opera*/
    animation:tail 4s ease-in-out infinite ;
}


/*×ó¶ú¶¯»­start*/
@-webkit-keyframes leftEar{
    25% {
        -webkit-transform: rotate(-54deg);
    }
    50% {
        -webkit-transform: rotate(-61deg);
    }
    75% {
        -webkit-transform: rotate(-54deg);
    }
    100% {
        -webkit-transform: rotate(-61deg);
    }

}

@-moz-keyframes leftEar {
    25% {
        -moz-transform:rotate(-54deg);
    }
    50% {
        -moz-transform: rotate(-61deg);
    }
    75% {
        -moz-transform:rotate(-54deg);
    }
    100% {
        -moz-transform: rotate(-61deg);
    }
}

@-ms-keyframes leftEar {
    25% {
        -ms-transform: rotate(-54deg);
    }
    50% {
        -ms-transform: rotate(-61deg);
    }
    75% {
        -ms-transform: rotate(-54deg);
    }
    100% {
        -ms-transform: rotate(-61deg);
    }
}

@-o-keyframes leftEar {
    25% {
        -o-transform: rotate(-54deg);
    }
    50% {
        -o-transform: rotate(-61deg);
    }
    75% {
        -o-transform: rotate(-54deg);
    }
    100% {
        -o-transform: rotate(-61deg);
    }
}

@keyframes leftEar {
    25% {
        transform: rotate(-54deg);
    }
    50% {
        transform: rotate(-61deg);
    }
    75% {
        transform: rotate(-54deg);
    }
    100% {
        transform: rotate(-61deg);
    }
}

/*×ó¶ú¶¯»­end*/


/*ÓÒ¶ú¶¯»­start*/

@-webkit-keyframes rightEar{
    25% {
        -webkit-transform: rotate(54deg);
    }
    50% {
        -webkit-transform: rotate(58deg);
    }
    75% {
        -webkit-transform: rotate(54deg);
    }
    100% {
        -webkit-transform: rotate(58deg);
    }

}

@-moz-keyframes rightEar {
    25% {
        -moz-transform: rotate(54deg);
    }
    50% {
        -moz-transform:rotate(58deg);
    }
    75% {
        -moz-transform: rotate(54deg);
    }
    100% {
        -moz-transform: rotate(58deg);
    }
}

@-ms-keyframes rightEar {
    25% {
        -ms-transform: rotate(54deg);
    }
    50% {
        -ms-transform: rotate(58deg);
    }
    75% {
        -ms-transform: rotate(54deg);
    }
    100% {
        -ms-transform: rotate(58deg);
    }
}

@-o-keyframes rightEar {
    25% {
        -o-transform: rotate(54deg);
    }
    50% {
        -o-transform: rotate(58deg);
    }
    75% {
        -o-transform: rotate(54deg);
    }
    100% {
        -o-transform: rotate(58deg);
    }
}

@keyframes rightEar {
    25% {
        transform: rotate(54deg);
    }
    50% {
        transform: rotate(58deg);
    }
    75% {
        transform: rotate(54deg);
    }
    100% {
        transform: rotate(58deg);
    }
}
/*ÓÒ¶ú¶¯»­end*/


/*ÑÛ¾¦¶¯»­start*/
@-webkit-keyframes eyes{
    25% {
        width:15px;height:4px;
    }
    50% {
        width: 8px;  height: 15px;
    }
    75% {
        width:15px;height:4px;
    }
    100% {
        width: 8px;  height: 15px;
    }

}

@-moz-keyframes eyes {
    25% {
        width:15px;height:4px;
    }
    50% {
        width: 8px;  height: 15px;
    }
    75% {
        width:15px;height:4px;
    }
    100% {
        width: 8px;  height: 15px;
    }
}

@-ms-keyframes eyes {
    25% {
        width:15px;height:4px;
    }
    50% {
        width: 8px;  height: 15px;
    }
    75% {
        width:15px;height:4px;
    }
    100% {
        width: 8px;  height: 15px;
    }
}

@-o-keyframes eyes {
    25% {
        width:15px;height:4px;
    }
    50% {
        width: 8px;  height: 15px;
    }
    75% {
        width:15px;height:4px;
    }
    100% {
        width: 8px;  height: 15px;
    }
}

@keyframes eyes{
    25% {
        width:15px;height:4px;
    }
    50% {
        width: 8px;  height: 15px;
    }
    75% {
        width:15px;height:4px;
    }
    100% {
        width: 8px;  height: 15px;
    }
}
/*ÑÛ¾¦¶¯»­end*/


/*Î²°Í¶¯»­start*/
@-webkit-keyframes tail{
    25% {
        -webkit-transform: rotate(-36deg);
    }
    50% {
        -webkit-transform: rotate(60deg);
    }
    75% {
        -webkit-transform: rotate(-36deg);
    }
    100% {
        -webkit-transform: rotate(60deg);
    }

}

@-moz-keyframes tail {
    25% {
        -moz-transform: rotate(-36deg);
    }
    50% {
        -moz-transform: rotate(60deg);
    }
    75% {
        -moz-transform: rotate(-36deg);
    }
    100% {
        -moz-transform: rotate(60deg);
    }
}

@-ms-keyframes tail {
    25% {
        -ms-transform: rotate(-36deg);
    }
    50% {
        -ms-transform: rotate(60deg);
    }
    75% {
        -ms-transform: rotate(-36deg);
    }
    100% {
        -ms-transform: rotate(60deg);
    }
}

@-o-keyframes tail {
    25% {
        -o-transform: rotate(-36deg);
    }
    50% {
        -o-transform: rotate(60deg);
    }
    75% {
        -o-transform: rotate(-36deg);
    }
    100% {
        -o-transform: rotate(60deg);
    }
}

@keyframes tail {
    25% {
        transform: rotate(-36deg);
    }
    50% {
        transform: rotate(60deg);
    }
    75% {
        transform: rotate(-36deg);
    }
    100% {
        transform: rotate(60deg);
    }
}
/*Î²°Í¶¯»­end*/
