
body {
    margin: 0;
    padding: 0;
}

.container, .canvas,  .bodyPart .bodyFirst, .bodyPart .behindLegs1, .bodyPart .behindLegs2,
.bodyPart .frontLegs1, .bodyPart .frontLeg2, .bodyPart .foot1, .bodyPart .foot2, .bodyPart .tail {
    position: absolute;
}

.container ,.canvas {
    left: 50%;
    top: 50%;
}

.dog .eyesPart, .eyesPart .eyelash1, .eyesPart .eyelash2, .eyesPart .leftEye, .eyesPart .rightEye, .facePart,
.nose, .facePart .middleMouth, .facePart .tongue, .earPart .leftEar, .earPart .rightEar {
    border-radius: 50%;
}

.dog,.eyesPart, .facePart, .earPart, .bodyPart,.eyesPart .eyelash1, .eyesPart .eyelash2, .eyesPart .leftEye,
.eyesPart .rightEye ,.facePart ,.nose,.facePart .topMouth,.facePart .middleMouth,.facePart .tongue,
.earPart .leftEar,.earPart .rightEar{
    position: relative;
}

.eyesPart,.facePart,.earPart .leftEar, .earPart .rightEar,.bodyPart .bodyFirst,.bodyPart .behindLegs1,
.bodyPart .behindLegs2,.bodyPart .frontLegs1,.bodyPart .frontLeg2,.bodyPart .foot1,.bodyPart .foot2,
.bodyPart .tail{
      border:1px solid black;
}
.eyesPart,.bodyPart .bodyFirst{
    background-color: goldenrod;
}

.earPart .leftEar,.earPart .rightEar,.bodyPart .behindLegs1,.bodyPart .behindLegs2,.bodyPart .frontLegs1,
.bodyPart .frontLeg2,.bodyPart .foot1,.bodyPart .foot2,.bodyPart .tail{
    background-color: saddlebrown;
}

.container {
    width: 900px;
    height: 600px;
    background-color: #333;
    margin: -300px 0 0 -450px;
}

.canvas {
    width: 600px;
    height: 600px;
    background-color: #fff9ea;
    margin: -300px 0 0 -300px;
}

.dog {
    width: 300px;
    height: 500px;
    margin: 50px 150px;
    display: -webkit-box;
    display: -moz-box;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    -moz-box-pack: center;
    -moz-box-align: center;
}

.earPart {
    z-index: 1;
}

.eyesPart {
    z-index: 2;
}

.facePart {
    z-index: 3;
}

.eyesPart {
    width: 140px;
    height: 100px;
}

.eyesPart .eyelash1, .eyesPart .eyelash2, .eyesPart .leftEye, .eyesPart .rightEye {
    width: 20px;
    height: 10px;
    border-top: 1px solid black;
    display: inline-block;
}

.eyesPart .eyelash1 {
    left: 25px;
    top: 10px;
}

.eyesPart .eyelash2 {
    left: 70px;
    top: 10px;
}

.eyesPart .leftEye, .eyesPart .rightEye {
    width: 8px;
    height: 15px;
    background-color: #000000;
    top: 25px;
}

.leftEye {
    left: -25px;
}

.rightEye {
    left: 32px;
}

.facePart {
    width: 140px;
    height: 60px;
    top: -60px;
    background-color: #ffffcc;
}

.nose {
    width: 20px;
    height: 10px;
    background-color: black;
    border-top: 2px solid #ffffff;
    left: 62px;
    top: 10px;

}

.facePart .topMouth {
    width: 1px;
    height: 25px;
    border-left: 2px solid black;
    left: 70px;
}

.facePart .middleMouth {
    width: 80px;
    height: 40px;
    border-bottom: 2px solid black;
    left: 30px;
    top: -40px;

}

.facePart .tongue {
    width: 18px;
    height: 18px;
    border-bottom: 2px solid black;
    top: -53px;
    left: 61px;
}

.earPart .leftEar, .earPart .rightEar {
    width: 120px;
    height: 50px;
}

.earPart .leftEar {
    -webkit-transform-origin:right bottom ;/*safari chrome*/
    -moz-transform-origin: right bottom;/*firefox*/
    -ms-transform-origin: right bottom;/*ie*/
    -o-transform-origin: right bottom;/*opera*/
    transform-origin: right bottom;
    -webkit-transform: rotate(-61deg); /*safari chrom opera*/
    -moz-transform: rotate(-61deg); /*firefox*/
    -ms-transform: rotate(-61deg); /*ie*/
    transform: rotate(-61deg);
    top: -194px;
    left: -69px;
}

.earPart .rightEar {
    -webkit-transform-origin:left bottom ;/*safari chrome*/
    -moz-transform-origin: left bottom;/*firefox*/
    -ms-transform-origin: left bottom;/*ie*/
    -o-transform-origin: left bottom;/*opera*/
    transform-origin: left bottom;
        -webkit-transform: rotate(58deg); /*safari chrom opera*/
    -moz-transform: rotate(58deg); /*firefox*/
    -ms-transform: rotate(58deg); /*ie*/
    transform: rotate(58deg);
    top: -248px;
    left: 86px;
}
.bodyPart {
	
	left:0px;
	top:0px;	
}
.bodyPart .bodyFirst {
    width: 132px;
    height: 170px;
    border-radius: 38%;
    top: -40px;
    left: -136px;
    z-index: 1

}

.bodyPart .behindLegs1 {
    width: 70px;
    height: 70px;
    border-radius: 60% 30%;
    left: -169px;
    top: 72px;
    z-index: 2;
}

.bodyPart .behindLegs2 {
    width: 70px;
    height: 70px;
    border-radius: 30% 50%;
    left: -43px;
    top: 72px;
    z-index: 2;
}

.bodyPart .frontLegs1 {
    width: 40px;
    height: 140px;
    border-radius: 100% 40% 100% 50%/50% 50% 100% 50%;
    left: -130px;
    top: -22px;
    -webkit-transform: rotate(-17deg); /*safari chrom opera*/
    -moz-transform: rotate(-17deg); /*firefox*/
    -ms-transform: rotate(-17deg); /*ie*/
    transform: rotate(-17deg);
    z-index: 2;
}

.bodyPart .frontLeg2 {
    width: 40px;
    height: 140px;
    border-radius: 70% 50% 60% 50%/73% 19% 100% 50%;
    left: -55px;
    top: -23px;
    -webkit-transform: rotate(192deg); /*safari chrom opera*/
    -moz-transform: rotate(192deg); /*firefox*/
    -ms-transform: rotate(192deg); /*ie*/
    transform: rotate(192deg);
    z-index: 2;

}

.bodyPart .foot1 {
    width: 60px;
    height: 60px;
    border-radius: 30% 50%;
    left: -133px;
    top: 88px;
    border-top: none;
    z-index: 2;

}

.bodyPart .foot2 {
    width: 60px;
    height: 60px;
    border-radius: 50% 30%;
    left: -77px;
    top: 88px;
    border-top: none;
    z-index: 2;
}

.bodyPart .tail {
    width: 30px;
    height: 120px;
    border-radius: 0% 72%;
    left: -107px;
    top: 1px;
    -webkit-transform-origin:right bottom ;/*safari chrome*/
    -moz-transform-origin: right bottom;/*firefox*/
    -ms-transform-origin: right bottom;/*ie*/
    -o-transform-origin: right bottom;/*opera*/
    transform-origin: right bottom;
    -webkit-transform:rotate(60deg) ; /*safari chrome opera*/
    -moz-transform:rotate(60deg) ; /*firefox*/
    -ms-transform:rotate(60deg) ; /*ie*/
    transform:rotate(60deg) ;

}




