* {
    margin: 0;
    padding: 0;
    font-size: 13px;
}
html,body{
    height:100%
}
body{
    behavior:url(../css/csshover.htc);
}
.container,.content,.content #form_span,.footerthird{
    position:relative;
}

.content .camera,.footer,.header .ulClass{
    position:absolute;
}

.header ul li,.footerfirst .img, .footerfirst .p1,
.footersecond .img2, .footersecond .p2{
    float: left;
    display: inline;
}

.container{
    height:100%;
}

.header ul {
    float: right;
    display: inline;

}

.header ul li {
    list-style-type: none;
    padding-right: 20px;
    padding-top: 20px;
    text-align: center;
}

.header a {
    color: #333;
}

.header a:hover, .header a:active {
    color:#2d78f4;
    cursor:pointer;
}
.header #liMore{
    padding-top:12px;
    padding-right:10px;
}
.header .aClass {
    display:block;
    width: 60px;
    height: 24px;
    background: #3385ff;
    color: white;
    line-height: 24px;
    text-align: center;
    text-decoration: none;

}
.header .aClass:hover{
    background-color: ghostwhite;
    color:#333;
    cursor:default;
}

.header .ulClass{
    width:66px;
    background-color: ghostwhite;
    display:none;
}
.header .ulClass li{
    margin:0;
    padding:0;

}
.header .ulClass li a{
    width:66px;
    height:50px;
    line-height:50px;
    display: block;
    text-decoration: none;
    text-align:center;
    padding-top:25px;
}
.header .ulClass .liSeven a{
    padding:0;
}

.header .ulClass .liFirst{
    background:url(../images/music.png) top center no-repeat;
}
.header .ulClass .liSecond{
    background:url(../images/image.png) top center no-repeat;
}
.header .ulClass .liThird{
    background:url(../images/zhidao.png) top center no-repeat;
}
.header .ulClass .liForth{
    background:url(../images/wenku.png) top center no-repeat;
}
.header .ulClass .liFifth{
    background:url(../images/top.png) top center no-repeat;
}
.header .ulClass .liSixth{
    background:url(../images/baidui.png) top center no-repeat;
}
.heder .ulClass .liSeven{
    text-decoration: underline;
}
.content {
    clear: both;
    text-align: center;


}

.content img{
    width:270px;
    height:129px;
    margin-top:23px;
}
.content form{
    _font-size:0;
    *letter-spacing: -4px;
    *word-spacing: -4px;
    position:relative;
}

.content #form_span{
    display:inline-block;
    width:540px;
    height:66px;
    border:none;
    font-size:16px;
    _font-size:16px;
    _letter-spacing: normal;
   _word-spacing: normal;

}
.content .camera{
    background:url(../images/camera.png) no-repeat;
    height:23px;
    width:20px;
    right:11px;
    top:39px;
   z-index:2;
}
.content #text1,.content #submit1{
    margin-top: 28px;
 vertical-align: top;


}
.content #text1 {
    width:540px\0;
    width: 540px\9;
    height: 32px;
    line-height:36px\9;
    height:36px\0;
    box-sizing:border-box;
    padding-top:0;
    padding-bottom: 0;
    font-size: 16px;
    border: 1px solid rgba(0, 0, 0, 0.24)\9 !important;
    padding-left:7px;
    position:absolute\0;
    top:16px;
    left:0px;
    overflow:hidden;
    z-index:1
    display:inline-block;
    *margin-left:0;
    margin-top:12px\0;
    text-shadow: none;
    outline: none;

}
.content #text1:hover{
    border-color:#999\9 !important;
    text-shadow: none;
    outline: none;
    border:1px solid\9;
    *width: 542px;
    *height:34px;
}

.content #text1:focus{
    text-shadow: none;
    *border-color:#3385ff;
border-color:#3385ff !important;//ie6\7不支持focus 可通过Jquery实现
    border:1px solid\9;
    border:1px solid\0;
    outline: none;
}

.content #submit1 {
    width: 100px;
    *height: 37px;
    border-bottom: 1px solid #2d78f4;
    border-top:0;
    border-right:0;
    border-left:0;
    background-color: #317ef3;
    font-size: 15px;
    _font-size:15px;
    color: white;
    _letter-spacing: normal;
    _word-spacing: normal;
    *border-bottom:none;
    +margin-left:10px;
    _margin-left:0;

}

.content #submit1:hover, .content #submit1:active {
    background-color: #2d78f4;
    cursor: pointer;

}

.footer {
    bottom: 23px;
    width: 100%;
    height: 100px;
    font-size: 12px;
    text-align: center;
    margin: 0 auto;

}


.footerfirst, .footersecond, .footerthird {
    margin-left: 30px;
    width: 120px;
    height: 70px;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    overflow:hidden;
}

.footerfirst .p1 p, .footersecond .p2 p {
    margin-top: 6px;
}

.footerthird {
    width: 380px;
    top:-4px;
}
.footerthird  p{
    height:24px;
    line-height:24px;
    text-align:left;
}
.footer #pid{
    height:22px;
    line-height:22px;
}

.footerthird p a, span {
    color: #999;
}

.footerthird #pid a {
    margin-left: 62px;
}

.footerthird #pid #aid {
    margin-left: 0;
}

.footerthird p img {
    height: 17px;
}

