.cake_info{ background:url("cake_info.png") top left no-repeat; }
._561e07d3b0e7b_r10_c6{ width:445px; height:332px; background-position:-10px -10px; }
._561e07d3b0e7b_r4_c2{ width:346px; height:311px; background-position:-10px -352px; }
._561e07d3b0e7b_r2_c8{ width:346px; height:287px; background-position:-10px -673px; }
._561e07d3b0e7b_r10_c2{ width:246px; height:224px; background-position:-10px -970px; }
._561e07d3b0e7b_r8_c2{ width:346px; height:167px; background-position:-10px -1204px; }
._561e07d3b0e7b_r8_c8{ width:168px; height:167px; background-position:-266px -970px; }
._561e07d3b0e7b_r8_c14{ width:169px; height:167px; background-position:-10px -1381px; }
._561e07d3b0e7b_r6_c14{ width:169px; height:158px; background-position:-189px -1381px; }
._561e07d3b0e7b_r6_c8{ width:168px; height:158px; background-position:-10px -1558px; }
._561e07d3b0e7b_r2_c4{ width:168px; height:133px; background-position:-188px -1558px; }
._561e07d3b0e7b_r2_c2{ width:168px; height:133px; background-position:-10px -1726px; }
._561e07d3b0e7b_r13_c6{ width:104px; height:110px; background-position:-188px -1726px; }
._561e07d3b0e7b_r13_c10{ width:104px; height:110px; background-position:-302px -1726px; }
._561e07d3b0e7b_r13_c12{ width:217px; height:110px; background-position:-10px -1869px; }
._561e07d3b0e7b_r15_c12{ width:217px; height:109px; background-position:-237px -1869px; }
._561e07d3b0e7b_r15_c10{ width:104px; height:109px; background-position:-10px -1989px; }
._561e07d3b0e7b_r15_c6{ width:104px; height:109px; background-position:-124px -1989px; }

