body{
    margin:0;
    padding:0;
}
.calculator_container{
    background-image:url(../images/cal_img.jpg);
    width:540px;
    min-height:600px;
    margin:0 auto;
}
.calculator_container img{
    width:25px;
    margin:12px 0 0 35px;
}
.calculator_container_title{
    display: inline-block;
    vertical-align: bottom;
    margin-left:-5px;
}
.calculator_container_title p{
    margin:0;
    font-size: 12px;
    vertical-align: top;
    line-height:10px;
    padding-left:2px;
    color: #ffffff;
}
.calculator_container_title .p1{
  font:24px "Microsoft YaHei UI","Arial Unicode MS","方正兰亭超细黑简体";
    vertical-align: bottom;
    line-height:20px;
    letter-spacing: -1px;
    padding:0;
}

#calculator_table_wrapper{
    border:1px solid #ffffff;
    margin:10px 30px;
    -moz-border-radius: 10px; /* Firefox */
    -webkit-border-radius: 10px; /* Safari 和 Chrome */
    border-radius: 10px; /* Opera 10.5+, 以及使用了IE-CSS3的IE浏览器 */
    background-image: linear-gradient(to top,#D0D0D0,#FAFAFA);
    border-collapse: collapse;
}
#calculator_table_wrapper  #calculator_table_top{
    width:100%;
}
#calculator_table_top tr{
    height:17px;
}
#calculator_table_top td{
    text-align: center;
}
#calculator_table_top tr input{
    width:430px;
    height:80px; /*ie的input默认边框为2*/
    outline: none;
    padding:0 5px;
    font:14px "microsoft yahei",Helvetica,sans-serif;
    -moz-border-radius: 6px; /* Firefox */
    -webkit-border-radius: 6px; /* Safari 和 Chrome */
    border-radius: 6px; /* Opera 10.5+, 以及使用了IE-CSS3的IE浏览器 */
    -webkit-box-shadow:1px 7px  1px #000000 inset; /*低版本的opera chrome safari*/
    -moz-box-shadow:1px 7px  1px #000000 inset;/*低版本的firefox*/
    box-shadow:1px 2px 7px #4F4F4F inset,2px 3px 10px #CFCFCF inset;
    text-align: right;
}
#calculator_table_wrapper  #calculator_table_down{
    width:100%;
    padding:0 10px;
}

#calculator_table_down tr td{
    width:20%;
}
#calculator_table_down  .downBtnCommonCss{
    height:48px;
    width:100%;
    outline: none;
    -moz-border-radius: 10px; /* Firefox */
    -webkit-border-radius: 10px; /* Safari 和 Chrome */
    border-radius: 10px; /* Opera 10.5+, 以及使用了IE-CSS3的IE浏览器 */
    cursor:pointer;
    font-size:18px;
    font-weight: bold;
    color:#555555;
    padding:0;
}
 #calculator_table_down .down_first_td input{
    width:32.1%;
    vertical-align: bottom;
    background-color: #e8803e;
     color:#fff;
}
#calculator_table_down  .downBtnCss2{
    background-color: #454545;
    color:#fff;
}

#calculator_table_down  .downBtnCss3{
    background-color: #7e868c;
    font-size: 24px;
}
#calculator_table_down  .downBtnCss4{
   height:98px;
}
