body{
    margin:0;
    padding:0;
}
.calculator_container{
    background-image:url(../images/cal_img.jpg);
    width:540px;
    min-height:600px;
    margin:0 auto;
}
.calculator_container img{
    width:25px;
    margin:12px 0 0 35px;
}
.calculator_container_title{
    display: inline-block;
    vertical-align: bottom;
    margin-left:-5px;
    margin-left:0\9;
}
.calculator_container_title p{
    margin:0;
    font-size: 12px;
    vertical-align: top;
    line-height:10px;
    padding-left:2px;
    color: #ffffff;
}
.calculator_container_title .p1{
    font:24px "Microsoft YaHei UI","Arial Unicode MS","方正兰亭超细黑简体";
    vertical-align: bottom;
    line-height:20px;
    letter-spacing: -1px;
    padding:0;
}

#calculator_table_wrapper{
    border:1px solid #ffffff;
    margin:10px 30px;
    -moz-border-radius: 10px 10px 10px 10px ; /* Firefox */
    -webkit-border-radius: 10px 10px 10px 10px; /* Safari 和 Chrome */
    border-radius: 10px 10px 10px 10px; /* Opera 10.5+, 以及使用了IE-CSS3的IE浏览器 */
   behavior: url(../css/ie-css3.htc);/*通知IE浏览器调用脚本作用于'box'类 */
    position:relative;
    top:0;
    left:0;
    z-index:1;
    background-color: #D0D0D0;
    border-collapse: collapse;
}
#calculator_table_wrapper  #calculator_table_top{
    width:100%;
}
#calculator_table_top tr{
    height:17px;
}
#calculator_table_top td{
    text-align: center;
}
#calculator_table_top tr input{
    width:430px;
    height:30px; /*ie的input默认边框为2*/
    vertical-align: middle;
    line-height:80px;
    outline: none;
    padding:25px 5px 25px 5px;
    font:14px "microsoft yahei",Helvetica,sans-serif;
    -moz-border-radius: 6px 6px 6px 6px; /* Firefox */
    -webkit-border-radius: 6px 6px 6px 6px; /* Safari 和 Chrome */
    border-radius: 6px 6px 6px 6px; /* Opera 10.5+, 以及使用了IE-CSS3的IE浏览器 */
    position:relative;
    top:0;
    left:0;
    z-index:3;
    behavior: url(../css/ie-css3.htc); /* 通知IE浏览器调用脚本作用于'box'类 */
    -webkit-box-shadow:1px 7px  1px #000000 inset; /*低版本的opera chrome safari*/
    -moz-box-shadow:1px 7px  1px #000000 inset;/*低版本的firefox*/
    box-shadow:1px 2px 7px #4F4F4F inset,2px 3px 10px #CFCFCF inset;
    behavior: url('')\0; /* 通知IE浏览器调用脚本作用于'box'类 */
    text-align: right;
    margin-bottom:10px\0;
    border: 3px solid #4F4F4F\0;
}
#calculator_table_wrapper  #calculator_table_down{
    width:100%;
    padding:0 10px;
}

#calculator_table_down tr td{
    width:20%;
}
#calculator_table_down  .downBtnCommonCss{
    height:48px;
    width:100%;
   * width:90%;
    outline: none;
    -moz-border-radius: 10px 10px 10px 10px; /* Firefox */
    -webkit-border-radius:  10px 10px 10px 10px; /* Safari 和 Chrome */
    border-radius:  10px 10px 10px 10px; /* Opera 10.5+, 以及使用了IE-CSS3的IE浏览器 */
    behavior: url(../css/ie-css3.htc); /* 通知IE浏览器调用脚本作用于'box'类 */
    position:relative;
    top:0;
    left:0;
    *margin-left:-25px;
    z-index:3;
    cursor:pointer;
    font-size:18px;
    font-weight: bold;
    color:#555555;
    padding:0;
    *border:none;/*ie7、6*/
    *padding-left: 55%;/*ie7、6*/
}
#calculator_table_down .down_first_td input{
    width:32.1%;
    *width:32.1%; /*ie7、6*/
    *margin-right:25px;/*ie7、6*/
    *padding-left:15%;/*ie7、6*/
    vertical-align: bottom;
    background-color: #e8803e;
    color:#fff;
}
#calculator_table_down  .downBtnCss2{
    background-color: #454545;
    color:#fff;
    *margin-left:-28px;
}

#calculator_table_down  .downBtnCss3{
    background-color: #7e868c;
    font-size: 24px;
}
#calculator_table_down  .downBtnCss4{
    height:98px;
}
