body{
    font-size: 100%;
    color:#000;
}
ul,li,p{
    margin:0;
    padding:0;
}
.head{
    position:absolute;
    top:0;
    right:0;
    left:0;
    height:2.5rem;
    background-color:#3e98f0;
    color:#fff;
    line-height: 2.5rem;
    border-bottom:1px solid #fff;


}
.head a{
    color:#fff;
    display: inline-block;
    width:1.8rem;
    text-align: center;
    font-size:123%;
    vertical-align: bottom;
}
.head .title {
    display: inline-block;
    width:11rem;
    position:relative;
    top:-0.5rem;
    text-align: center;
}
.head .title img{
    height:3rem;
}

/*内容部分css开始。。。。。。。。。。。。。。。。。。。。。。。。。。。。。。。。。。。。。。。。。。。。。。。。。。。。。。。。*/
/*图片轮播部分。。。。。。*/
.content{
    position:absolute;
    left:0;
    right:0;
    top:2.5rem;
    overflow: hidden;

}
.content .nav{
    background-color:#3e98f0;
    font-size:97%;
    margin-bottom: 0;
    height:3rem;

}
.content .nav li{
    width:25%;
}
#navbar.nav-tabs>.active>a, #navbar.nav-tabs>.active>a:hover, #navbar.nav-tabs>.active>a:focus{
    border:none;
  /*  background-color:#3e98f0;*/
    background-image: linear-gradient(to top,#3e98f0,#3e98f0);
    border-color:#3e98f0; ;
    color:#fff;
    text-decoration: underline;
}
.content .nav a{
    color:#fff;
    height:3rem;
    line-height: 3rem;
    padding:0;
    border:0;
    width:100%;
    text-align: center;

}

.content  .tab-content{
    overflow: hidden;


}
.content  .tab-content .news-content{
    padding-left:0.5rem;
    padding-right:0.5rem;
    padding-top:0.4rem;
    background-color: #fff;
}
.content  .tab-content .news-content .carousel{
    overflow: hidden;
    width:100%;
    margin-bottom: 0.6rem;
}
.content  .tab-content .carousel-indicators{
    width:100%;
    right:0;
    bottom:0;
    top:10.33rem;

}
.content  .tab-content .carousel-indicators li{
    border-radius:0;
    -webkit-border-radius: 0;
    width:25%;
    height:.2rem;
    margin:0;

}
.content  .tab-content .carousel-indicators li.active{
    background-color:#3e98f0;
}
.content  .tab-content .carousel-inner{
    width:108%;
    left:-6%;
}
.content  .tab-content .carousel-inner .item{
   width:98%;
    height:10.5rem;
    margin:0 auto;
}
.carousel-inner .item img{
    width:100%;
    height:100%;
}
.carousel-inner .item .pic-notes{
    margin:0;
    position:absolute;
    bottom:0;
    padding-left:1rem;
    color:#fff;
    background-color: #000;
    height:1.5rem;
    line-height: 1.5rem;
    width:95%;
    font-size:84%;
}
/*热点新闻部分。。。。。。。。。。。*/
.content  .tab-content .news-content .hot-news-series-box{
    height:1.3rem;
    position:relative;
}
.content  .tab-content .news-content .hot-news-series-box .reminder-word{
    display: inline-block;
    background-color: #ff0000;
    height: 1.3rem;
    color:#fff;
    line-height: 1.3rem;
    font-size:86%;
    width:1.8rem;
    text-align: center;
}
.hot-news-series-box .hot-news-links-box{
    display: inline-block;
    position:absolute;
    overflow: hidden;
    width:100%;
    height:1.3rem;
    left:1.9rem;
    top:0.1rem;
    background-color: #f2f2f2;

}
.hot-news-series-box .hot-news-links-box ul{
    position:absolute;
    width:100%;
    height:1.3rem;


}
.hot-news-series-box .hot-news-links-box ul .link{
    position:absolute;
    height: 2rem;
    list-style-type: none;
    line-height: 1.3rem;
    font-size:94%;
    padding-left:0.5rem;
   backface-visibility: hidden;
    color:#666;

}
.link:nth-child(1){
    top:-3.9rem;

}
.link:nth-child(2){
     top:-2.6rem;

 }
.link:nth-child(3){
    top:-1.3rem;

}
.link:nth-child(4){
     top:0;

 }
.link:nth-child(5){
    top:1.3rem;

}
.link:nth-child(6){
    top:2.6rem;

}
.link:nth-child(7){
    top:3.9rem;

}
/*新闻主体部分*/
.news-content-mian-box{
    overflow: hidden;
}
.news-content-mian-box .news-items .news-item{
  position:relative;
    float:left;
    width:100%;
    list-style-type: none;
    margin-top:1rem;
}
.news-content-mian-box .news-items .news-item2{
     margin-top:0.5rem;
 }
.news-content-mian-box  .news-items .news-item3{
    margin-top:1rem;
}
.news-content-mian-box .news-items .news-item .news-item-img{
    width:4.6rem;
    height:3.3rem;
    float:left;
}

.news-item .news-item-img img{
    width:100%;
    height:100%;
}

.news-item  .news-item-info-box .news-item-info{
   float:left;
   padding-left:0.5rem;
    width:13.7rem;
    font-size:97%;
    line-height:1.2rem;
}
/*百家新闻部分开始*/

.news-content-mian-box .news-items .news-item  .news-item-info-box .news-item-info2{
 padding-left:0;
    width:100%;
    line-height:1.5rem;

}

.news-content-mian-box .news-items .news-item .news-item-img2{
    width:34.9%;
    height:5rem;
    text-align: center;
}
.news-item .news-item-img2 img{
    width:92%;
    height:auto;
}


.news-content-mian-box .news-items .news-item .news-item-img3{
    margin-left:-0.5rem;
}
.news-content-mian-box .news-items .news-item .news-item-img4{
    margin-right:-0.5rem;
}

.news-content-mian-box .news-items .news-item .news-item-info-content{
    font-size:60%;
    color:#999;
}

