body{
    margin:0;
    padding:0;
    font-size:14px;
}
h1,h2,h3,h4,h5,h6{
    margin:0;
}


.container-fluid {
    color: #333333;
    width:800px;
    margin:0 auto;
    background-color:#EFEFEF
}

.container-fluid .header {
height:50px;
    line-height: 50px;
    position: relative;
    text-align:center;
}

.container-fluid .content h3{
    text-align: center;
    background-color: rgb(0, 102, 190);
    color:#fff;
    height:24px;
    line-height: 24px;
    letter-spacing: 2px;
}
.container-fluid .content form{
    text-align: center;
}
.container-fluid .content form .btn{
    width:30%;
    height:35px;
    margin:20px;
}
.container-fluid .content #newsTable{
    border:1px solid #ccc;
    margin: 0 auto;
    table-layout:fixed ;
    border-collapse: collapse;
    margin-bottom: 30px;

}
.container-fluid .content .news-table caption{
    height:30px;
    line-height:30px;
    background-color: rgb(0, 102, 190);
    color:#fff;
    font-weight: bold;
}
.container-fluid .content .news-table tr{
    height:30px;
}
.container-fluid .content .news-table td{
    word-wrap:break-word;
    text-align: center;
    border:1px solid rgb(0, 102, 190);

}

.container-fluid  .footer{
    text-align: center;
height:50px;
    line-height: 20px;
    font-size:16px;
    margin-bottom:30px;

}

