body {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

.container {
    position: relative;
    background-color: #F2F2F2;
    margin:0 auto;
    min-width:1000px;
}

.head #head_aid {
    display: block;
    height: 25px;
    background-color: #000000;
    color: #69c;
    line-height: 25px;
    padding-left: 40px;
}

.head h1 {
    padding-left: 45px;
}

.head #head_aid:hover, .head #head_aid:active, .content .left h2 a:hover, .content .left h2 a:active {
    color: #ff3366;
    cursor: pointer;
}

.head .head_hr {
    height: 10px;
    background-color: #7fff00;
}
.content{
    position:relative;

}
.content .left {
    width: 65%;
}
.content .left-content{
   width:90.6%;
    margin:0 auto;
    background-color: #fff;
}

.content .left h2 a {
    display: block;
    padding-left: 6px;
    padding-top: 25px;
    color: #69c;
}

.content .left h1 {
    background-color: #A5A5A5;
    height: 50px;
    line-height: 50px;
    padding: 5px;
    padding-left: 35px;
    margin: 15px 10px 25px 0;
}
.content .left ol {
    margin-left:50px;
    padding-left:0;
}
.content .left ol li {
    font: 20px Georgia, "Times New Roman", Times, sans-serif;
    font-weight: 600;
}

.content .left ol li div {
    width: 80%;
    margin-bottom: 20px;
    font: 14px Georgia, "Times New Roman", Times, sans-serif;
    letter-spacing: 1px;
    line-height: 20px;
}

.content .right {
   width: 331px;
    position: absolute;
    left: 64.7%;
    top: 100px;
    background-color: #fff;
    padding-left:20px;
}

.content .right h3 {
    display: inline-block;
    margin-bottom:10px;
}

.content .right #info_more {
    display: inline-block;
    font-size: 14px;
    color: #69c;
    margin-left: 60px;
    width:70px;
}

.content .right .rel_link a {
    display: block;
    height: 35px;
    line-height: 35px;
    font-size:14px;
    color:#69c;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border-bottom: 1px dashed #dcdcdc;
}

.content .right .rel_link{
    width:250px;
}
.content .right #info_more:hover,.content .right #info_more:active, .content .right .rel_link a:hover,
.content .right .rel_link a:active,.footer .pre_page a:hover ,.footer .pre_page a:active,
.footer .next_page a:hover,.footer .next_page a:active{
    color:#099;
}
.content .right .rel_link #written_test{
    border:none;
}
.footer{
    margin-bottom: 20px;
    margin-left:40px;
}
.footer .pre_page a ,.footer .next_page a{
    color: #4d8dff;
    font-size:12px;
}
.footer .pre_page span,.footer .next_page span{
    font-size:12px;
}

@media only screen and (max-width: 1150px) {
    .content .left {
        width: 62%;
        background-color: #fff;
    }
    .content .left-content{
        margin-left:0;
        background-color: transparent;
    }
    .content .right {
        right: 0;
        top: 100px;
    }
}